/* Estilos base (mobile-first) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(img/wallpaper.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    overflow-x: hidden;
    min-height: 100vh;

}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.img {
    width: 200px;
    position: relative;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero-section {
    display: flex;
    flex-direction: column;
}

.h1-principal img {
    width: 80%;
    height: auto;
    object-fit: contain;
    transform: translateY(-2rem);


}

.video-container {
    background-color: #006400;
    padding: 10px;
    border-radius: 20px;
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 4rem;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    border: 3px solid gold;
    border-radius: 15px;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 30px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 30%;
    cursor: pointer;
}

.play-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent white;
}

.video-container.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-width: 100vw;
}

.video-container.expanded .video-wrapper {
    padding-bottom: 0;
    width: 90%;
    height: 40%;
    max-width: none;
    border-radius: 0;
}

.video-container.expanded .play-button {
    display: none;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 1rem 0;
}

.button img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
    animation: pulsar 2s infinite ease-in-out;
    position: relative;
    bottom: 5rem;
}

.button:hover img {
    transform: scale(1.1);
}

@keyframes pulsar {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.additional-content {
    transform: translateY(-4rem);
}

.social-icons img {
    width: 50px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.carousel-section {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-slide {
    flex: 0 0 100%;
    width: 100%;
}

.carousel-slide img {
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
}

/* Indicadores do carrossel */
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.carousel-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicator.active {
    background-color: white;
}



.divider {
    height: 2px;
    background-color: #ffffff;
    border: none;
    margin: 20px;
}

.footer {
    padding: 20px;
    color: #ffffff;
    font-size: 14px;
}

/* Media Queries */
@media (min-width: 375px) {
    .img {
        width: 190px;
    }

    .h1-principal img {
        width: 85%;
    }

    .video-container {
        max-width: 300px;
        transform: translateY(-1rem);
    }

    .button img {
        width: 200px;
        bottom: 7rem;
    }

    .social-icons img {
        width: 40px;
        transform: translateY(-2rem);
    }


}

@media (min-width: 425px) {
    .img {
        width: 180px;
    }

    .h1-principal img {
        width: 90%;
    }

    .video-container {
        max-width: 350px;
    }

    .button img {
        width: 220px;
    }


}

@media (min-width: 768px) {
    .img {
        width: 300px;
    }

    .h1-principal img {
        width: 70%;
        transform: translateY(-4rem);
    }

    .video-container {
        max-width: 600px;
        transform: translateY(-4rem);
    }

    .button img {
        width: 350px;
        bottom: 9rem;
    }

    .social-icons img {
        width: 60px;
        transform: translateY(-3rem);
    }

    .carousel-section {
        max-width: 600px;
    }

}

@media (min-width: 1024px) {
    .img {
        width: 400px;
    }

    .h1-principal img {
        width: 70%;
        transform: translateY(-5rem);
    }

    .video-container {
        max-width: 800px;
        transform: translateY(-6rem);
    }

    .button img {
        width: 450px;
        bottom: 10rem;
    }

    .social-icons img {
        width: 80px;
        transform: translateY(-6rem);
    }

    .carousel-section {
        max-width: 800px;
    }


}

@media (min-width: 1440px) {
    .img {
        width: 400px;
    }

    .h1-principal img {
        width: 70%;
        transform: translateY(-5rem);
    }

    .video-container {
        max-width: 800px;
        transform: translateY(-6rem);
    }

    .button img {
        width: 450px;
        bottom: 10rem;
    }

    .social-icons img {
        width: 80px;
        transform: translateY(-6rem);
    }

    .carousel-section {
        max-width: 900px;
    }


}